 .u-section-1 {
  background-image: url("images/234.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 774px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 120px 0 67px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 82px;
}

.u-section-1 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 48px 0 55px;
}

.u-section-1 .u-image-1 {
  min-height: 534px;
  background-image: url("images/7d09063020040b96125c9760afc23d1c.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 51px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 507px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-image-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 505px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: -47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 389px;
  }
} .u-section-2 {
  background-image: url("images/dottedbg_32.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 742px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 1052px;
  min-height: 154px;
  height: auto;
  margin: 80px auto 0 44px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 10px 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.125rem;
  font-style: italic;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px auto 82px 0;
}

.u-section-2 .u-image-1 {
  min-height: 366px;
  background-image: url("images/Untitled1-19.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 366px;
  background-image: url("images/xc.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  min-height: 366px;
  background-image: url("images/e68ca818c40d38fb7484e0e64fcd3fb1.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-group-1 {
    width: 867px;
    min-height: 182px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-2 {
    min-height: 293px;
  }

  .u-section-2 .u-image-3 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-group-1 {
    min-height: 172px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 231px;
  }

  .u-section-2 .u-image-2 {
    min-height: 231px;
  }

  .u-section-2 .u-image-3 {
    min-height: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1553px;
  }

  .u-section-2 .u-group-1 {
    min-height: 182px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 384px;
  }

  .u-section-2 .u-image-2 {
    min-height: 384px;
  }

  .u-section-2 .u-image-3 {
    min-height: 384px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-2 .u-group-1 {
    min-height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-image-2 {
    min-height: 281px;
  }

  .u-section-2 .u-image-3 {
    min-height: 281px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 80px auto -2px 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 631px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 46px 0 0;
}

.u-section-3 .u-link-1 {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 2px;
  margin: 46px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 321px;
  background-image: url("images/https_2F2Fhypebeast.com2Fimage2F20182F092Fadidasnmdr1blackwhitenewlogobrandingreleasedate01.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 321px;
  background-image: url("images/Untitled1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  min-height: 310px;
  background-image: url("images/v.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  min-height: 310px;
  background-image: url("images/3d8d6e19-251c-267a-68e3-0afa335c0df0.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    font-size: 3.75rem;
  }

  .u-section-3 .u-link-1 {
    margin-right: auto;
    margin-bottom: 32px;
  }

  .u-section-3 .u-image-1 {
    min-height: 316px;
  }

  .u-section-3 .u-image-2 {
    min-height: 316px;
  }

  .u-section-3 .u-image-3 {
    min-height: 306px;
  }

  .u-section-3 .u-image-4 {
    min-height: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 385px;
  }

  .u-section-3 .u-image-2 {
    min-height: 385px;
  }

  .u-section-3 .u-image-3 {
    min-height: 412px;
  }

  .u-section-3 .u-image-4 {
    min-height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2646px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 510px;
  }

  .u-section-3 .u-image-2 {
    min-height: 438px;
  }

  .u-section-3 .u-image-3 {
    min-height: 469px;
  }

  .u-section-3 .u-image-4 {
    min-height: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2661px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 3px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: url("images/dottedbg_32-7.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 791px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-4 .u-image-1 {
  min-height: 661px;
  background-image: url("images/8c7e4bdde0ae1c323cecda8bcc2cf810.jpg");
  background-position: 50% 19.01%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 661px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 49px 0 0;
}

.u-section-4 .u-link-1 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 2px;
  margin: 55px 445px 65px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 68px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 33px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-link-1 {
    margin-right: 345px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-link-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 659px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-4 .u-image-1 {
    min-height: 661px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 661px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-link-1 {
    margin-right: 133px;
    margin-bottom: 65px;
  }
} .u-section-5 {
  background-image: url("images/234-12.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 787px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 80px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 657px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-5 .u-icon-1 {
  height: 113px;
  width: 113px;
  margin: 80px auto 0 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.3;
  margin: 38px 0 84px;
}

.u-section-5 .u-image-1 {
  min-height: 657px;
  background-image: url("images/home4revimg1.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 93px;
    width: 93px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -68px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-5 .u-icon-1 {
    height: 71px;
    width: 71px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-bottom: 56px;
  }

  .u-section-5 .u-image-1 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-5 .u-icon-1 {
    height: 67px;
    width: 67px;
    margin-top: 45px;
  }

  .u-section-5 .u-text-1 {
    margin-bottom: 45px;
  }

  .u-section-5 .u-image-1 {
    min-height: 635px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-5 .u-image-1 {
    min-height: 519px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-6 .u-group-1 {
  min-height: 190px;
  width: 1057px;
  height: auto;
  margin: 80px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 72px auto 80px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/04BespokeNewYorkBrandingPrintBusinessCardsStationeryDIAUSABPOmin.jpg");
  background-position: 50% 50%;
  min-height: 416px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/cd.png");
  background-position: 50% 50%;
  min-height: 416px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/Untitled13.jpg");
  background-position: 50% 50%;
  min-height: 355px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/222553a749dcde051845c032ba11e013.jpeg");
  background-position: 50% 50%;
  min-height: 355px;
}

.u-section-6 .u-image-5 {
  background-image: url("images/65f7c88b31988ade0bf27ce9897b0b58.jpeg");
  background-position: 50% 50%;
  min-height: 355px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-6 .u-group-1 {
    min-height: 222px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-6 .u-group-1 {
    min-height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: -54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 323px;
  }

  .u-section-6 .u-image-2 {
    min-height: 323px;
  }

  .u-section-6 .u-image-3 {
    min-height: 275px;
  }

  .u-section-6 .u-image-4 {
    min-height: 275px;
  }

  .u-section-6 .u-image-5 {
    min-height: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3387px;
  }

  .u-section-6 .u-group-1 {
    min-height: 254px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 2px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 66px;
    margin-bottom: 88px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 643px;
  }

  .u-section-6 .u-image-2 {
    min-height: 643px;
  }

  .u-section-6 .u-image-3 {
    min-height: 547px;
  }

  .u-section-6 .u-image-4 {
    min-height: 549px;
  }

  .u-section-6 .u-image-5 {
    min-height: 547px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2423px;
  }

  .u-section-6 .u-group-1 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 1px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 416px;
  }

  .u-section-6 .u-image-2 {
    min-height: 416px;
  }

  .u-section-6 .u-image-3 {
    min-height: 355px;
  }

  .u-section-6 .u-image-4 {
    min-height: 355px;
  }

  .u-section-6 .u-image-5 {
    min-height: 355px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 639px;
}

.u-section-7 .u-group-1 {
  min-height: 150px;
  height: auto;
  width: 804px;
  margin: 80px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-7 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 25px 0 80px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  display: block;
  margin: 30px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  display: block;
  width: 64px;
  margin: 45px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 30px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  display: block;
  margin: 45px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-group-1 {
    width: 813px;
    margin-top: 18px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-7 .u-group-1 {
    min-height: 161px;
    width: 720px;
    margin-top: 80px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    min-height: 150px;
    width: 476px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: url("images/dottedbg_32-7.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 791px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-8 .u-image-1 {
  background-image: url("images/05StudioSouthBrandIdentityProjectBrochureonBPOmin1.jpg");
  background-position: 100% 50%;
  min-height: 331px;
}

.u-section-8 .u-image-2 {
  min-height: 331px;
  background-image: url("images/blackwhitebusinesscards5.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 661px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-8 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 49px 0 0;
}

.u-section-8 .u-link-1 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 2px;
  margin: 55px 445px 65px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 318px;
    background-position: 50% 19.01%;
  }

  .u-section-8 .u-image-2 {
    min-height: 326px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 644px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 33px;
    font-size: 3.75rem;
  }

  .u-section-8 .u-link-1 {
    margin-right: 345px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 291px;
  }

  .u-section-8 .u-image-2 {
    min-height: 270px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 561px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 22px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-8 .u-link-1 {
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 504px;
  }

  .u-section-8 .u-image-2 {
    min-height: 486px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 33px;
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: 49px;
  }

  .u-section-8 .u-link-1 {
    margin-top: 55px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-8 .u-image-1 {
    min-height: 331px;
    background-position: 100% 50%;
  }

  .u-section-8 .u-image-2 {
    min-height: 331px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 661px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-8 .u-link-1 {
    margin-right: 133px;
    margin-bottom: 65px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 389px;
}

.u-section-9 .u-layout-wrap-1 {
  position: relative;
  margin: 80px auto 80px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-icon-1 {
  height: 45px;
  width: 43px;
  position: relative;
  margin: 25px auto 0;
}

.u-section-9 .u-text-1 {
  position: relative;
  font-size: 1.5rem;
  margin: 30px 30px 25px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-icon-2 {
  height: 45px;
  width: 43px;
  position: relative;
  margin: 25px auto 0;
}

.u-section-9 .u-text-2 {
  position: relative;
  font-size: 1.5rem;
  margin: 30px 30px 25px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 0;
}

.u-section-9 .u-icon-3 {
  height: 45px;
  width: 43px;
  position: relative;
  margin: 66px auto 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 30px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }

  .u-section-9 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-9 .u-text-3 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: -198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}